<!-- Created: 17/11/2021 by maxime.granet -->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="projet.css">
        <title>My RSS Website</title>
    </head>
    <body>
        <header>
            <h1>My RSS Website</h1>
            <ul>
                <li><a href="projet.html">National</a></li>
                <li><a href="interNational.html">International</a></li>
                <li><a href="connexion.html">Connexion</a></li>
            </ul>
        </header>
        
        <section>
            <div class="connexion">
                <h1>Connexion</h1>
                <form action="" >
                    <label class="pseudo" for="pseudo">pseudo</label>
                    <input type="text" id="pseudo" name="pseudo" placeholder="pseudo"><br>
                    <label class="mdp" for="mdp">mot de passe</label>
                    <input type="password" id="mdp" name="mdp" placeholder="mot de passe"><br>
                </form>
            </div>
        </section>
    </body>
</html>