header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1{
    display: flex;
    justify-content: center;
    color: rgb(139, 139, 14);
}

header ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
}

header li{
    justify-content: center;
    float : left;
    padding: 0 10px;
}

header li a{
    display: block;
    padding: 8px;
    background-color: transparent; 
}
a{
    background-color: transparent;
    text-decoration: none;
    color: rgb(167, 89, 17);
    font-size: 2rem;
}

section{
    display: flex;
    margin-top: 10%;
    justify-content: center;
    min-height: 100%;
    font-size: 1.5em;
}

section .connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 100px 20px 100px;
    border: 1px solid grey;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.5);
}

section h1{
    display: flex;
    justify-content: center;
}
section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}

section form label.pseudo{    
    padding: 20px 0 10px 0;
}

section form label.mdp{    
    padding: 50px 0 10px 0;
}

section form input{
    display: flex;
    width:25%;
    min-width: 200px;
    text-align: center;
    margin:auto;
    border: 1.5px solid grey;
    border-radius: 12px;
    font-size: 0.75em;
}