body{
    background-image: linear-gradient(to bottom,#e0cc91,lightgrey );
    background-repeat: repeat-x;
    min-height: 100vh;
    display: flex;
    margin:0;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

@media screen{
    body{
        min-width: 450px;
    }
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

header img{
    width: 10%;
}

header h1 {
    text-decoration: none;
    justify-content: center;
    color: #653b0e;
}

header a.button{
    display: flex;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:2px solid rgb(167, 89, 17);
    border-radius: 12px;
    height: 40px;
    width : 15%;
    min-width: 120px;
    margin: 0 10px 0 0;
    background-color: white;
    text-decoration: none;
    color: rgb(167, 89, 17);
    font-size: 1rem;
}

header .button:hover{
    transition: 0.5s;
    background-color: rgb(167, 89, 17);
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-image: url("../ressources/images/wave.svg");
    background-size: cover;
}

footer .help{
    height: 50px;
}

footer .footRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footOne,.footTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:white;
    text-decoration: none;
}

.footOne:hover,.footTwo:hover {
    color: gold;
}

.footRow ul{
    list-style-type: none;
}

.footOne{
    margin-right: 25%;
}

.footRow img{
    width: 80px;
}
/*Formulaires */

input.validation{
    border: none;
    border-radius: 12px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
    min-width: 200px;
    color:black;
    margin: 15px 0 0 0;
}

input.validation:hover{
    transition: 1s;
    color:white;
    font-weight: bold;
    background-color: green;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
    min-width: 400px;
}

#login{
    margin:10% 0;
}

section .formulaire{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width:350px;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 3% 6%;
    background-color: rgba(0,0,0,0.6);
}

section .formulaire h1, section .formulaire label{
    color:white;
}


section .formulaireAdmin{
    display: flex;
    flex-direction: column;
}

.formulaireAdmin label{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form.admin input, form.admin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section h1{
    display: flex;
    justify-content: center;
}
section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}

section form label{
    margin: 10px 0 0 0;
}

section form input{
    display: flex;
    width:100%;
    min-width: 200px;
    text-align: center;
    justify-content: center;
    border: 1.5px solid grey;
    border-radius: 12px;
    padding : 0;
    margin: 10px 0;
    font-size: 0.90em;
}

section form.admin input{
    width:100%;
    height: 30px;
    min-width: 50px;
    max-width: 300px;
    text-align: center;
    justify-content: center;
    border: 1.5px solid grey;
    border-radius: 12px;
    margin: 10px 20px;
    font-size: 0.90em;
}

form.admin .submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    width: 50px;
    min-width: 50px;
}

section form input.submit:hover{
    transition: 1s;
    cursor: pointer;
    background-color: dimgray;
    color: white;
}

section form input.submit:focus{
    background-color: green;
}

form :invalid{
    border:1px solid red;
}

form input:invalid ~ span {
    display:flex;
    color:red;
    transition:.4s opacity linear
}
form input:invalid ~ span {
    visibility:visible;
    opacity:1
}


/*Page admin*/

.adminFlux{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.adminFlux .listeFlux{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin:10px;
    padding: 10px;
    border : black solid 2px;
    border-radius: 15px;

}

.adminFlux .listeFlux:hover{
    background-color: rgba(255,255,255,0.5);
}

.listeFlux p.name{
    font-weight: bold;
    font-size: large;
    margin : 0;
    text-align: center;
    word-wrap: anywhere;

}

.listeFlux p.dop {
    margin : 0;
    font-size: small;
    text-align: center;

}

.listeFlux a.link{
    word-wrap: anywhere;
    text-align: center;

}

.listeFlux a.link:hover{
text-decoration: underline black;
    color: black;
}

.listeFlux .adminButton{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-top:5px;
}

.listeFlux a.delete img{
    width : 40px;
    height: 40px;
    padding: 10px;
}

.listeFlux a.refresh img{
    width : 40px;
    height: 40px;
    padding: 10px;

}

.listeFlux a.delete:hover img{
    padding : 5px;
}

.listeFlux a.refresh:hover img{
    padding: 5px;
}

article .row2{
    margin: 0 50px;
}

a.accueil{
    transition: 0.5s;
    border:rgb(167, 89, 17) solid 2px;
    border-radius: 12px;
    margin: 30px 0 0 30px;
    width: 100px;
    color: rgb(167, 89, 17);
    padding: 5px;
    background-color: white;
    text-decoration: none;
    text-align: center;
}

a.accueil:hover{
    transition: 0.5s;
    background-color: rgb(167, 89, 17);
    font-weight: bold;
    color:white;
}

table{
    margin: 0 5%;
}

table .col-1,table .col-2,table .col-3,table .col-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: #254c53 groove 2px;
}

article h1,article h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

a.refresh img{
    width: 40px;
    height: 40px;
}

.row1{
    display: flex;
    flex-direction: row;
    margin: 0 5% 5% 5%;
}

.row1 input{
    border-radius: 12px;
    margin: 0 10px;
    text-align: center;
}

input.add{
    border: black solid 1px;
    border-radius: 12px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    color:black;
    width: 100px;
    margin: 5px;
}

input.add:hover{
    transition: 1s;
    color:white;
    font-weight: bold;
    background-color: green;
}

/*Page Erreur*/

.error{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    color: #D8000C;

}

.error .txt{
    border: 1.5px solid red;
    border-radius: 12px;
    padding: 10px;
    font-size: large;
    background-color: #FFBABA;
}

/*Page d'accueil*/

article.accueil .row{
    display: flex;
    justify-content: center;
    margin: 0 50px;
}

article.accueil .row a{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:justify;
    color: white;
}

article.accueil .row a:hover{
    transition: 0.5s;
    color: black;
}

article.accueil .row a:hover .title{
    font-weight: bold;
}

.col-md-3{
    display: flex;
    flex-direction: column;
    border: gray solid 2px;
    border-radius: 12px;
    margin: 10px;
    background-image: linear-gradient(45deg,#516a15, #3d470e);
}

.col-md-3:hover{
    background-image: linear-gradient(45deg,#81aa22, #91aa22);
    animation-name: pannel;
    position: relative;
    animation-duration: 1s;
}
@keyframes pannel {
    0% {left:0; right:0}
    25% {left:5px; right:0}
    50% {left:-10px; right:0}
    75% {left:5px; right:0}
    100% {left:0; right:0}
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flux{
    list-style-type: none;
    margin: 30px 10px 30px 10px;
}

article a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

.flux li{
    padding: 0;
}

ul{padding-left : 0 !important;}


.flux li.title{
    font-size: large;
    font-family: "Comic Sans MS";
    margin-bottom: 5px;
}
p.dateP{
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: small;
    font-family: "Times New Roman";
    margin-top: auto;
}
ul.flux li.descr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify-all;
}

.navig{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navig a{
    display: flex;
    align-content: space-around;
    color : black;
    text-decoration: none;
    padding-right: 7px;
}

.navig a:hover{
    text-decoration: blue underline;
}

/*Vue d'erreur*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

main h1{
    color: #516a15;
    font-size: xxx-large;
}

main a.email{
    color: black;
    text-decoration: underline;
}

main h3{
    font-size: x-large;
}

main .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}